services:
  web:
    build: .
    container_name: django_web
    working_dir: /app/app
    command: sh /app/entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: fruteira
      POSTGRES_USER: fruteira
      POSTGRES_PASSWORD: fruteira
    ports:
      - "5432:5432"